<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ec5f5941495ec225be600cd4196cfbca {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_ec5f5941495ec225be600cd4196cfbca" ></div>
        
</body>
<script>
    
    
            var map_ec5f5941495ec225be600cd4196cfbca = L.map(
                "map_ec5f5941495ec225be600cd4196cfbca",
                {
                    center: [12.968846085887442, 79.15591069700324],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f21644d6f1f81e83cf103eaa9f5074bb = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_f21644d6f1f81e83cf103eaa9f5074bb.addTo(map_ec5f5941495ec225be600cd4196cfbca);
        
    
            var heat_map_d2e16a044a3c4cc740338aeffb0bdda8 = L.heatLayer(
                [[12.971108572296986, 79.15940316908683, 50], [12.971491309481976, 79.16361375225618, 40], [12.972144346724008, 79.16626222563727, 70], [12.968846085887442, 79.15591069700324, 40], [12.969755809858295, 79.15544682665289, 60], [12.969758899759025, 79.15865984244726, 40], [12.970244390534692, 79.15880307561467, 80], [12.971080635649301, 79.16002566334092, 30]],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.4, "radius": 20}
            );
        
    
            heat_map_d2e16a044a3c4cc740338aeffb0bdda8.addTo(map_ec5f5941495ec225be600cd4196cfbca);
        
</script>
</html>